.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 100vh;
    color: #191919;
    p {
        margin-top: 24px;
        line-height: 1.25;
    }

    h2 {
        // border: 1px solid orange;
        margin: 45px 0 0 0;
        font-size: 20px;
        font-weight: 700;
    }
}
